DATABASE_TYPE=postgres
# DATABASE_URL=<copy your postgres db url form railwau>
MEDUSA_ADMIN_ONBOARDING_TYPE=nextjs
STORE_CORS=http://localhost:8000,http://localhost:7001
# REDIS_URL=<copy your redis url from railway>

AWS_S3_BUCKET=
AWS_S3_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_URL= 